*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$z-levels: (
        standard: 1,
        lower: -1,
        upper: 2
);

@mixin button {
  font-size: 18px;
  color: white;
  background-color: $btnColor;
  padding: 13px 43px;
  border-radius: 3px;
  border: none;
}

@mixin link-color {
  color: $footerColor;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $pageBackground;
}

.header {
  display: flex;
  width: 1920px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: $headerBackground;
  background-size: cover;
  border-bottom-right-radius: 40%;

  .header-wrap {
    margin-left: 190px;
    margin-top: 25px;
  }

  .landing-logo {
    display: flex;
    align-items: center;

    img {
      width: 45px;
      height: 45px;
      margin: -3px 0 0 0;
    }

    p {
      font-size: 23px;
      font-weight: 700;
      line-height: 1.2;
      margin: -11px 0 0 18px;
      font-family: $paragraphFont;
      color: $headerColor;
    }

    span {
      display: block;
      text-align: center;
      font-weight: lighter;
      font-size: 12px;
      letter-spacing: -.2px;
    }
  }

  .header_heading {
    width: 605px;
    margin-top: 70px;
    font-size: 73px;
    font-weight: 700;
    font-family: $headerFont;
    color: $headerColor;
    line-height: 1;
    position: relative;
    z-index: map-get($z-levels, upper);

    &:after {
      content: "";
      background: $mainBgColor;
      z-index: map-get($z-levels, lower);
      padding: 25px 153px;
      position: absolute;
      top: 65%;
      left: 0;
    }
  }

  .header_text {
    white-space: pre-line;
    margin: 32px 0 63px 0;
    line-height: 150%;
    letter-spacing: 0.2px;
    font-family: $paragraphFont;
    color: $headerColor;
    font-size: 16px;
  }

  .header_button {
    @include button;
  }

  .login {
    @include link-color;
    font-size: 21px;
    padding-left: 148px;
  }
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1115px;
  margin: 0 auto;
  position: relative;

  .section_text {
    position: relative;
    text-align: center;
    font-family: $headerFont;
    font-size: 42px;
    font-weight: 600;
    z-index: map-get($z-levels, upper);
    margin-top: 37px;
    color: $headerColor;

    &:after {
      content: "";
      background: $mainBgColor;
      z-index: map-get($z-levels, lower);
      padding: 25px 99px;
      position: absolute;
      top: -10%;
      left: 50%;
    }
  }

  .section_card_wrap {
    margin-bottom: 170px;

    .section_card {
      display: flex;
      align-items: center;
      background-color: $bgColor;
      border-radius: 6px;
      margin: 34px 0;
      padding: 20px 0 20px 20px;
    }

    .section_card_img {
      border-radius: 6px;
    }

    img[alt="experts"] {
      width: 430px;
    }

    img[alt="content formats"] {
      width: 415px;
    }

    img[alt="certificate"] {
      width: 460px;
    }

    .section_card_right_container {
      max-width: 466px;
      margin: 0 91px;

      .section_card_heading {
        color: white;
        text-align: center;
        font-size: 25px;
        font-family: $headerFont;
        margin-bottom: 16px;
      }

      .section_card_text {
        color: $footerColor;
        text-align: justify;
        word-spacing: 1px;
        font-family: $paragraphFont;
      }

      a {
        @include link-color;
        display: block;
        padding: 20px 0 0 200px;
      }
    }
  }

  .section_banner {
    width: 1200px;
    position: absolute;
    top: 1306px;
    left: -41px;
    z-index: map-get($z-levels, upper);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gradient;
    padding: 20px 0 41px 0;
    border-radius: 5px;
  }

  .section_banner_heading {
    color: $headerColor;
    font-size: 30px;
    font-weight: 700;
    font-family: $headerFont;
    position: relative;
    z-index: map-get($z-levels, upper);
    margin: 0 0 16px 162px;

    &:after {
      content: "";
      background: $mainBgColor;
      z-index: map-get($z-levels, lower);
      padding: 26px 33px;
      position: absolute;
      top: -37%;
      left: 29%;
    }
  }

  .section_banner_text {
    color: $footerColor;
    font-family: $paragraphFont;
    font-size: 16px;
    font-weight: 500;
    margin-left: 162px;
  }

  .section_banner_button {
    margin: 20px 164px 10px 0;
    @include button;
  }
}


.footer {
  background-color: $bgColor;
  width: 1920px;
  height: 240px;
  color: $footerColor;

  .footer-wrap {
    width: 1546px;
    margin: 0 auto;
    padding-top: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $footerColor;

    .footer_text {
      font-family: $paragraphFont;
      font-size: 14px;
      width: 300px;
    }

    .footer-cr {
      font-family: $paragraphFont;
      font-size: 16px;
    }

    .footer_logo {
      p {
        font-family: $paragraphFont;
        color: $footerColor;
        font-size: 23px;
        margin-top: -3px;
        margin-left: 18px;
        line-height: 1.2;
        font-weight: 700;
      }

      span {
        display: block;
        text-align: center;
        font-weight: lighter;
        font-size: 12px;
        letter-spacing: -.2px;
      }
    }
  }
}






