$pageBackground: #22232e;
$headerBackground: url("../img/m-h-night.jpg");
$paragraphFont: 'Fresca', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$gradient: linear-gradient(to right, #e2ab01, #912b53);
$headerColor: #ffffff;
$bgColor: #3b3f50;
$footerColor: #d1d1d1;
$mainBgColor: #ff4e33;
$btnColor: #e3ac00;