$pageBackground: #ffffff;
$headerBackground: url("../img/m-h-day.jpg");
$paragraphFont: 'Hind', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$gradient: linear-gradient(to right, #699902, #2b59dc);
$headerColor: #2b2e3b;
$bgColor: #21232e;
$footerColor: #f0f0f0;
$mainBgColor: #149cc8;
$btnColor: #699900;