#task1,
#task2 {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.table {
	border: 1px solid black;
}

td {
	padding: 5px;
	border: 1px solid #000000;
	text-align: center;
	width: 100px;
	height: 100px;
	font-size: 18px;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}


.blue {
	background-color: blue;
}




.notification {
	visibility: hidden;
}




.basketball{
	position: relative;
	width: 600px;
	height: 330px;
	background-image: url("./assets/court.png");
	background-size:cover;
    margin-left: 450px;
	margin-top: 30px;
}



.ball {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 288px;
	top: 145px;
	transition: all 1s ease-out;
}

.count {
	display: flex;
	justify-content: center;
}

.right {
	padding-left: 300px;
}

.page-x {
	width: 15px;
	height: 15px;
	position: relative;
	left: 565px;
	top: 157px;
}

.page-y {
	width: 15px;
	height: 15px;
	position: relative;
	top: 141px;
	left: 33px;
}
.red-input{
	border: 2px solid red;
}

.green-input{
		border: 2px solid green;
}

.red-result{
	background: #ffb3b9;
	border: 2px solid red;
	padding: 5px;
}
.green-result{
	background: #ccffeb;
	border: 2px solid green;
	padding: 5px;
}
