#app-root {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

h1 {
	text-align: center;
}

.form {
	position: relative;
	left: 620px;
}


.div-form {
	display: flex;
	align-items: center;
}


.label-div {
	display: flex;
	flex-direction: column;
}

select {
	width: 120px;
}

.table {
	width: 1000px;
	margin-top: 20px;
	position: relative;
	left: 300px;
	border-collapse: collapse;

}

tr:nth-child(2n) {
	background: #F2F2F2;
}

.tr-header :first-letter {
	text-transform: uppercase;
}


.tr-header {
	background-color: #45A04E;
	color: white;
	text-align: center;
	font-size: 16px;
	height: 35px;
}

td {
	padding: 5px;
	border: 1px solid #F2F2F2;
	border-spacing: 0;
}

.countryTr-class:hover {
	padding: 5px;
	border-spacing: 0;
	background: gray;
	cursor:pointer;
}

.countryTr-class {
	text-align: center;
}

