* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-position: center;
    background-image: url("../img/apples.jpg");
    background-repeat: no-repeat;
    height: 740px;
}

.header_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 39px 0;
}

.logo {
    display: flex;
    color: #FFF;
    font-size: 15px;
    letter-spacing: 2.5px;
}


.menu_list {
    display: flex;
    list-style: none;
    color: #FFF;
}

.menu_list-items {
    margin-left: 54px;
}

.header_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.header_heading-big {
    font-size: 54px;
    letter-spacing: 6px;
    margin-top: 165px;
    font-weight: 500;
}

.header_heading-large {
    font-size: 88px;
    font-weight: 500;
}

.header_heading-small {
    font-size: 14px;
}

.header_btn {
    width: 239px;
    height: 55px;
    font-size: 14px;
    color: #FFF;
    border: 3px solid #FFF;
    background-color: #343638;
    margin-top: 170px;
}

.article {
    max-width: 1303px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}

.section_top {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    padding: 91px 0 93px 0;
    max-width: 1200px;
    margin: 45px auto;
}

.section_top-left {
    font-size: 24px;
    display: flex;
    flex: 1;
    max-width: 560px;
    margin-right: 25px;
}

.section_top-right {
    font-size: 14px;
    padding-left: 30px;
    display: flex;
    flex: 1;
}

.section_card {
    display: flex;
    align-items: center;
    position: relative;
}

.section_card-img {
    position: relative;
}

.article_header {
    display: flex;
    justify-content: center;
    margin: 145px 0 78px 0;
    font-weight: 400;

}

.article_header span {
    font-weight: 500;
}

.first-img,
.third-img {
    margin-top: 10px;
    padding-left: 50px;

}

.second-img,
.fourth-img {
    margin-top: 15px;
    padding-right: 50px;
    filter: brightness(70%);
}

.section_card-text {
    text-align: center;
    font-size: 13px;
}

.card_text-first{
    padding-right: 50px;
}

.card_text-second{
    padding-left: 50px;
}

.first-data {
    position: absolute;
    top: 269px;
    left: 70px;
    color: #FFF;
    font-size: 13px;
}

.second-data {
    position: absolute;
    top: 271px;
    left: 20px;
    color: #FFF;
    font-size: 13px;
}

.third-data {
    position: absolute;
    top: 274px;
    left: 70px;
    color: #FFF;
    font-size: 13px;
}

.forth-data {
    position: absolute;
    top: 276px;
    left: 20px;
    color: #FFF;
    font-size: 13px;
}

.first-data:after {
    content: " 172 ♥";
    border: 3px solid #FFF;
    text-align: center;
    width: 53px;
    height: 29px;
    position: absolute;
    left: 660px;
    top: -238px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #343638;
    opacity: 60%;
}

.second-data:after {
    content: " 172 ♥";
    border: 3px solid #FFF;
    text-align: center;
    width: 53px;
    height: 29px;
    position: absolute;
    left: 660px;
    top: -238px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #343638;
    opacity: 60%;
}

.third-data:after {
    content: " 20 ♥";
    border: 3px solid #FFF;
    text-align: center;
    width: 47px;
    height: 27px;
    position: absolute;
    left: 670px;
    top: -241px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #343638;
    opacity: 60%;
}

.forth-data:after {
    content: " 150 ♥";
    border: 3px solid #FFF;
    text-align: center;
    width: 53px;
    height: 29px;
    position: absolute;
    left: 660px;
    top: -245px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #343638;
    opacity: 60%;
}

.banner {
    border: 50px solid #F3F3F3;
    padding: 45px 25px;
    background-color: #FFF;
}

.banner_form {
    display: flex;
    align-items: center;
}

.banner_form-label {
    font-size: 24px;
}

.banner_form-label span {
    font-weight: 600;
    padding-right: 15px;
}

.banner_form-input {
    width: 720px;
    height: 60px;
    font-size: 13px;
    padding-left: 24px;
    background-color: #F3F3F3;
}

.banner_form-btn {
    width: 103px;
    height: 60px;
    font-size: 14px;
    color: #FFF;
    border: none;
    background-color: #343638
}

.footer {
    display: flex;
    flex-direction: column;
    max-width: 1303px;
    margin: 0 auto;
    padding-top: 60px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding-bottom: 80px;
}
.footer_container p{
    font-size: 14px;
    padding-right: 25px;
    color: #343638;
    line-height: 150%;
}

.light-text{
    color: #9E9E9E;
}

.footer_first,
.footer_second,
.footer_contact,
.footer_news {
    flex: 1;
}

.footer_contact-list {
    list-style: none;
    font-size: 14px;
}

.contact-list a{
    text-decoration: none;
    color: #343638;
}

h4{
    padding-bottom: 15px;
}
.newsletter{
    display: flex;
    align-items: center;
}
.newsletter-input {
    background-color: #F3F3F3;
    color: #000;
    height: 40px;
    width: 200px;
    padding-left: 8px;
}

.newsletter-btn {
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: #FFF;
    background-color: #343638;
    border: none;
}
hr{
    color: #E8E8E8;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin:0 30px 0 50px;
}

.footer-nav_copyright {
    color: #A4A4A4;
    font-size: 14px;
}

.footer-nav_list{
    display: flex;
}

.footer-nav_list li {
    list-style: none;
}

.footer-nav_list a {
    text-decoration: none;
    padding-right: 22px;
    color: #000;
    font-size: 14px;
}