.flex-2-col {
    display: flex;
    align-items: center;
}

.tm-box-bg-title:hover {
    background-color: #87CEEB;
    color: #ffffff;
}

p::first-letter {
    color: #87CEFA;
    font-size: 30px;
}

.tm-content-box,
.tm-main-nav {
    box-shadow: 0 0 10px #B5B5B5;
}

.tm-banner {
    border: 1px solid gray;
}

.tm-banner-inner {
    outline: 30px solid #f0f0f0;
}

section:before {
    content: "";
    border: 25px solid transparent;
    border-top: 0;
    border-left: 150px solid #87CEEB;
}

.carousel-content h2 {
    color: #dcdcdc;
    letter-spacing: 5px;
}

h2 + p {
    font-style: italic;
}

p:not(:first-child) {
    line-height: 2em;
}

.padding-medium a {
    color: black;
}

.padding-medium a:visited {
    text-decoration: underline;
}

.padding-medium a:hover {
    text-decoration-style: double;
    text-decoration-line: underline;
    color: blue;
}

.text:after {
    content: "New";
    color: red;
    vertical-align: super;
}

.box-work {
    padding: 7px;

}

.box-work p::first-letter {
    color: #000000;
}

.box-work:nth-child(2n) {
    background-color: #f0f0f0;
}

.box-work p {
    font-size: 14px;
}

.submit-btn {
    float: right;
    background-color: #ffffff;
    border: 1px solid #7EC0EE;
    color: #7EC0EE;
    border-radius: unset;
    padding: 10px 35px;
}

.submit-btn:hover {
    background-color: #7EC0EE;
    color: #ffffff;
    border: none;
}

.mandatory-field:after {
    content: "*";
    color: red;
}

.tm-nav-item:hover {
    background: #f5f5f5;
}

@media print {

    .tm-sidebar,
    .boxes,
    .heading,
    .blocks,
    .ideas,
    #ideas,
    .tm-content-box:not(:first-child) {
        display: none;
    }


    .tm-banner {
        width: 530px;
        height: 220px;
        margin-left: 80px;
        border: none;
        padding: 0;

    }

    .tm-banner-inner {
        outline: none;
    }


    .tm-banner-text {
        font-size: 1.5em;
        padding-bottom: 10px;
    }

    .tm-banner-text::first-letter {
        font-size: 1.6em;
    }


    h2.tm-section-title {
        margin-left: 60px;
        margin-bottom: 0;
        color: blue;
        font-size: 34px;
    }

    .flex-item > img {
        padding-top: 20px;
        width: 220px;

    }

    .flex-2-col {
        display: flex;
    }

    .flex-item {
        padding-top: 20px;
    }

    .tm-section-description {
        margin-left: 60px;
        margin-bottom: 0;
        padding-top: 20px;
        width: 290px;
        font-size: 18px;
    }

    .tm-section-description::first-letter {
        font-size: 30px;
        padding-left: 25px;
        color: #696969;
    }

    .text-xs-center::first-letter {
        font-size: 30px;
    }

    .text-xs-center {
        color: #696969;
        font-size: 18px;
    }

    section:before {
        content: "";
        border: none;
    }

    .tm-banner {
        width: 550px;
        height: 220px;
        margin-left: 80px;
        border: none;
        padding: 0;

    }

}