html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
}

.header-logo {
    margin-right: 340px;
    top: 10px;
    left: 150px;
    position: fixed;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    right: 150px;
    top: 10px;
}

.nav-link {
    color: #363636;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.nav-link:hover {
    color: #0078aa;
}

.banner {
    background-image: url(../img/lady.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 564px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    padding: 162px 0 0 175px;
}

h1 {
    font-size: 40px;
}

.banner-text_paragraph {
    color: #363636;
    margin-top: -7px;
}

.banner-icon {
    display: flex;
}

.banner-icon_color {
    background-color: #0078aa;
    border-radius: 50%;
    margin: 5px 16px 0px 0px;
    padding: 12px;
    color: #fff;
    border: 1px solid #0078aa;
}

.banner-icon_form {
    width: 32px;
    height: 24px;
}

.banner-icon_color:hover {
    background-color: #fff;
    border-radius: 50%;
    margin: 5px 16px 0px 0px;
    padding: 12px;
    color: #0078aa;
    border: 1px solid #0078aa;
}


.scroll {
    position: fixed;
    right: 229px;
    top: 50%;
    border-radius: 50%;
    border: none;
    height: 55px;
    width: 55px;
    background-color: #0078aa;
}

.scroll-btn {
    color: #fff;
    position: relative;
    top: 15px;
    left: 12px;
    width: 32px;
    height: 24px;
}

.about {
    margin: 60px 0 75px 16px;
    display: flex;
}

.about-text {
    padding: 55px 0 0 36px;
    width: 400px;
    line-height: 18px;
}

.about h2 {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 0;
    padding-top: 30px;
}

.about h4 {
    color: #0078aa;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 17px;
}

.about h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-top: 21px;
}

.about p {
    font-size: 14px;
    margin: 0;
    padding-top: 8px;
    line-height: 120%;
}

.arrow {
    color: #0078aa;
    padding-right: 5px;
}


.services {
    background-image: url("../img/services_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.services h2 {
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 0.7px;
}

.services h3 {
    text-align: center;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.services-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 52px;
}

.services-block_item {
    padding-left: 25px;
    padding-bottom: 5px;
    width: 340px;
    background-color: #fff;
    margin: 15px 15px 15px 15px;
}

.services-block_item h4 {
    font-size: 15px;
    margin: 12px;
}

.services-block_item p {
    font-size: 14px;
    margin: 0;
}

.services-block_item img {
    padding-top: 25px;
}

.offers {
    padding-top: 50px;
    background-image: url("../img/pricing_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.offers h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-top: 7px;
    letter-spacing: 1px;
}

.offers h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: -23px;
    padding-bottom: 15px;
}

.offers-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.offers-block_lr {
    background-color: #47C9E5;
    color: #fff;
    width: 385px;
    height: 565px;
    text-align: center;
    line-height: 25px;
}

.offers-block_c {
    border: 2px solid #47C9E5;
    background-color: #fff;
    color: #0078aa;
    width: 390px;
    height: 545px;
    text-align: center;
    padding-top: 50px;
    line-height: 25px;
}

.offers-block_lr h4 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 8px;
}

.offers-block_c h4 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
}

.offers-block span {
    font-size: 58px;
    font-weight: bold;
}

.offers-block li {
    padding-bottom: 13px;
    padding-top: 5px;
    font-size: 13px;
}

.offers-block li:first-child {
    font-size: 16px;
}

.offers-block ul {
    padding: 0;
}

.offer-btn {
    margin-top: -7px;
    color: #47C9E5;
    background-color: #fff;
    border: 1px solid #0078aa;
    height: 45px;
    width: 117px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

.offer-btn:hover {
    background-color: #47C9E5;
    border: 2px solid #fff;
    color: #fff;
}

.appointment {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.appointment-banner {
    flex: 1;
}

.appointment-banner img {
    max-width: 100%;
}

.appointment-form {
    flex: 1;
    margin-top: -73px;
}

.appointment-form_contact {
    display: flex;
    padding-left: 35px;
}

.appointment-form h2 {
    font-size: 30px;
    font-weight: 600;
    padding-left: 32px;
    letter-spacing: 1.2px;
    margin-top: 55px;
}

.appointment-form h3 {
    font-size: 14px;
    font-weight: 400;
    padding-left: 32px;
    margin-bottom: 7px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    width: 600px;
    padding: 16px 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #363636;
    font-style: italic;
}

input:focus {
    outline: none;
}

.form-btn {
    color: #fff;
    background-color: #0078aa;
    height: 45px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    outline: none;
    border: none;
}

.form-btn:hover {
    background-color: #fff;
    border: 2px solid #0078aa;
    color: #47C9E5;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #363636;
    color: #fff;
}

@media only screen
and (min-width: 768px)
and (max-width: 1279px) {
    .container {
        width: 768px;
    }

    .header {
        justify-content: space-between;
    }

    .header-logo {
        margin: 0 0 0 12px;
    }

    .banner-text {
        padding: 162px 0 0 15px;
    }

    .scroll {
        right: 2px;
    }

    .about img {
        width: 50%;
        height: 50%;
    }

    .about-text {
        padding: 0 0 0 29px;
        line-height: 17px;
    }

    .about {
        margin: 47px 0 75px 16px;
        align-items: center;
    }

    .services-block_item {
        width: 192px;
        margin: 15px 15px 15px 15px;
    }

    .offers {
        padding-top: 6px;
        background-position: center;
    }

    .offers h3 {
        margin-top: -23px;
        padding-bottom: 15px;
    }

    .offers-block {
        padding-top: 0;

    }

    .offers-block_lr {
        width: 246px;
        height: 526px;
    }

    .offers-block_c {
        width: 243px;
        height: 545px;
        padding-top: 5px;
    }

    .offers-block_lr h4 {
        padding-top: 0;
    }

    input {
        width: 300px;
    }

    .appointment-banner img {
        margin: -55px 0 0 -25px;
        max-width: 745px;
        height: 530px;
    }

    .appointment-banner {
        overflow: hidden;
    }

    .appointment-form h2 {
        margin-top: 15px;
    }

    .appointment-form h3 {
        margin-bottom: 0;
    }

    .banner {
        overflow: hidden;
        margin-right: -217px;
    }
}

@media only screen
and (min-width: 414px)
and (max-width: 767px) {
    .container {
        max-width: 414px;
    }

    .header {
        flex-direction: column;
    }

    .header-logo {
        margin-right: 0;
    }

    .nav {
        right: 0;
        padding: 0;
        top: 60px;
    }

    .nav-link {
        padding: 0 13px 0 0;
    }

    .banner {
        overflow: hidden;
        margin-right: -337px;
        height: 420px;
        width: 750px;
    }

    .banner-text {
        padding: 69px 0 0 21px;
        max-width: 414px;
    }

    .banner-text h1 {
        padding: 0 0 0 62px;
    }

    .banner-icon {
        justify-content: space-around;
        padding-bottom: 10px;
    }

    .banner-text_paragraph {
        text-align: center;
        display: block;
        max-width: 380px;
    }


    .about {
        margin: 32px 0 75px 0;
        flex-direction: column;
    }

    .scroll {
        right: 0px;
    }

    .about-text {
        padding: 0px 5px 0 5px;
        width: 395px;
        line-height: 18px;
        text-align: center;
    }

    .about h2 {
        padding-top: 8px;
    }

    .services h2 {
        padding-top: 0;
    }

    .offers {
        padding-top: 5px;
    }

    .offers-block {
        padding-top: 0;
    }

    .offers-block_lr h4 {
        padding-top: 0;
        padding-bottom: 8px;
    }

    .offers-block_c {
        padding-top: 0;
        margin: 15px 0;
    }

    .offers {
        background: none;
    }

    .appointment {
        padding-top: 10px;
        flex-direction: column;
    }

    .appointment-form {
        flex: 1;
        margin-top: 1px;
    }

    input {
        width: 350px;
    }

    .appointment-form h2 {
        padding: 0 33px;
        margin-top: 6px;
        text-align: center;
    }

    .form-btn {
        margin: 0 auto;
    }

    .footer {
        margin-top: 20px;
    }
}

