.form-hidden{
    display: none;
}

.form {
    display: flex;
    max-width: 600px;
}

.form-input{
    background-color: #1fab70;
    width: 580px;
    margin: 0 10px;
    border: none;
    padding: 10px;
}

.form-text{
    padding: 10px;
}

.form-btn{
    font-size: 14px;
    padding: 10px 25px;
    margin: 25px 0 25px 10px;
    color: #ffffff;
    background-color: #228B22;
    border: none;
}

