*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff; }

.header {
  display: flex;
  width: 1920px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  border-bottom-right-radius: 40%; }
  .header .header-wrap {
    margin-left: 190px;
    margin-top: 25px; }
  .header .landing-logo {
    display: flex;
    align-items: center; }
    .header .landing-logo img {
      width: 45px;
      height: 45px;
      margin: -3px 0 0 0; }
    .header .landing-logo p {
      font-size: 23px;
      font-weight: 700;
      line-height: 1.2;
      margin: -11px 0 0 18px;
      font-family: "Hind", sans-serif;
      color: #2b2e3b; }
    .header .landing-logo span {
      display: block;
      text-align: center;
      font-weight: lighter;
      font-size: 12px;
      letter-spacing: -.2px; }
  .header .header_heading {
    width: 605px;
    margin-top: 70px;
    font-size: 73px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    color: #2b2e3b;
    line-height: 1;
    position: relative;
    z-index: 2; }
    .header .header_heading:after {
      content: "";
      background: #149cc8;
      z-index: -1;
      padding: 25px 153px;
      position: absolute;
      top: 65%;
      left: 0; }
  .header .header_text {
    white-space: pre-line;
    margin: 32px 0 63px 0;
    line-height: 150%;
    letter-spacing: 0.2px;
    font-family: "Hind", sans-serif;
    color: #2b2e3b;
    font-size: 16px; }
  .header .header_button {
    font-size: 18px;
    color: white;
    background-color: #699900;
    padding: 13px 43px;
    border-radius: 3px;
    border: none; }
  .header .login {
    color: #f0f0f0;
    font-size: 21px;
    padding-left: 148px; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1115px;
  margin: 0 auto;
  position: relative; }
  .section .section_text {
    position: relative;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 42px;
    font-weight: 600;
    z-index: 2;
    margin-top: 37px;
    color: #2b2e3b; }
    .section .section_text:after {
      content: "";
      background: #149cc8;
      z-index: -1;
      padding: 25px 99px;
      position: absolute;
      top: -10%;
      left: 50%; }
  .section .section_card_wrap {
    margin-bottom: 170px; }
    .section .section_card_wrap .section_card {
      display: flex;
      align-items: center;
      background-color: #21232e;
      border-radius: 6px;
      margin: 34px 0;
      padding: 20px 0 20px 20px; }
    .section .section_card_wrap .section_card_img {
      border-radius: 6px; }
    .section .section_card_wrap img[alt="experts"] {
      width: 430px; }
    .section .section_card_wrap img[alt="content formats"] {
      width: 415px; }
    .section .section_card_wrap img[alt="certificate"] {
      width: 460px; }
    .section .section_card_wrap .section_card_right_container {
      max-width: 466px;
      margin: 0 91px; }
      .section .section_card_wrap .section_card_right_container .section_card_heading {
        color: white;
        text-align: center;
        font-size: 25px;
        font-family: "Source Sans Pro", sans-serif;
        margin-bottom: 16px; }
      .section .section_card_wrap .section_card_right_container .section_card_text {
        color: #f0f0f0;
        text-align: justify;
        word-spacing: 1px;
        font-family: "Hind", sans-serif; }
      .section .section_card_wrap .section_card_right_container a {
        color: #f0f0f0;
        display: block;
        padding: 20px 0 0 200px; }
  .section .section_banner {
    width: 1200px;
    position: absolute;
    top: 1306px;
    left: -41px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #699902, #2b59dc);
    padding: 20px 0 41px 0;
    border-radius: 5px; }
  .section .section_banner_heading {
    color: #2b2e3b;
    font-size: 30px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    z-index: 2;
    margin: 0 0 16px 162px; }
    .section .section_banner_heading:after {
      content: "";
      background: #149cc8;
      z-index: -1;
      padding: 26px 33px;
      position: absolute;
      top: -37%;
      left: 29%; }
  .section .section_banner_text {
    color: #f0f0f0;
    font-family: "Hind", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 162px; }
  .section .section_banner_button {
    margin: 20px 164px 10px 0;
    font-size: 18px;
    color: white;
    background-color: #699900;
    padding: 13px 43px;
    border-radius: 3px;
    border: none; }

.footer {
  background-color: #21232e;
  width: 1920px;
  height: 240px;
  color: #f0f0f0; }
  .footer .footer-wrap {
    width: 1546px;
    margin: 0 auto;
    padding-top: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f0f0f0; }
    .footer .footer-wrap .footer_text {
      font-family: "Hind", sans-serif;
      font-size: 14px;
      width: 300px; }
    .footer .footer-wrap .footer-cr {
      font-family: "Hind", sans-serif;
      font-size: 16px; }
    .footer .footer-wrap .footer_logo p {
      font-family: "Hind", sans-serif;
      color: #f0f0f0;
      font-size: 23px;
      margin-top: -3px;
      margin-left: 18px;
      line-height: 1.2;
      font-weight: 700; }
    .footer .footer-wrap .footer_logo span {
      display: block;
      text-align: center;
      font-weight: lighter;
      font-size: 12px;
      letter-spacing: -.2px; }
